<% content_for(:title, "Project | Show") %>

<h1><%=@project.name %></h1>

<h3><%=@project.description%></h3>


<%= link_to 'Edit project', edit_category_project_path, :class => "btn btn-success" %>  |
